# Emacs backup files
*~
*#
.#*
# Vim file artifacts
.*.sw*
# installed platform-specific binaries
bin/
config/
data/
.DS_Store
.project
# omit Go vendor directories
vendor/
.vscode
.gradle
.idea

mloab
*.sum